body {
  margin: 0 auto;
  padding: 50px 0;
  width: 1200px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

.app {
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  border-radius: 10px;
  background-color: rgba(92, 250, 250, 0.548);
}

.message {
  margin: 0 0 20px 0;
  padding: 10px;
  width: fit-content;
  border: 1px solid rgb(3, 199, 199);
  border-radius: 10px;
  color: blue;
  background-color: rgb(195, 248, 230);
  font-size: 20px;
}

.inputMessage {
  margin: 20px 0;
  display: grid;
  grid-template-columns: 11fr 1fr;
  align-self: normal;
}

.entryField {
  padding: 10px;
  border: 1px solid rgb(3, 199, 199);
  border-radius: 10px;
  color: blue;
  background-color: rgb(24, 214, 228);
  font-size: 16px;
}
input:focus, input:active {
  outline: none;
}

.btnSend {
  margin: 0 0 0 20px;
  border: 1px solid rgb(3, 199, 199);
  border-radius: 10px;
  color: blue;
  background-color: rgb(24, 214, 228);
}
.btnSend:hover {
  background-color: rgb(195, 248, 230);
}
.btnSend:active {
  background-color: rgb(24, 214, 228);
}